<!-- Search form -->
 <div class="d-flex justify-content-center" style>
      <!-- <form class="d-flex m-4 w-50 justify-content-center " action="/search" method="GET" role="search">
        <input class="form-control me-2 shadow-sm" type="search" name="q" placeholder="Search products..." aria-label="Search" required>
        <button class="btn btn-outline-dark shadow-sm" type="submit">Search</button>
      </form> -->
      <form class="d-flex m-4 w-50 justify-content-center" action="/search" method="GET">
  <input class="form-control me-2 shadow-sm" type="search" name="q" placeholder="Search products..." aria-label="Search">
  <button class="btn btn-outline-success shadow-sm" type="submit">Search</button>
</form>

</div>